*{
	margin:0;
	padding:0;
}
html,body
{
    min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px !important;
    overflow-x: hidden; 
}
body{
	background-image: url("cab4.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}
.fa-taxi{
	font-size: 40px;
	color:green;
}
.book{
	background-color: blue;
}
.cab{
	font-family: 'Ubuntu';
}
.head{
	color:white;
}
.col1{
	background-color:white;
	border-radius: 20px;
}
.form-control{
	background-color: lightgrey;
}
.form-head span{
	color:white;
	border-radius: 40px;
}
.row .form-control .small_holder{
	font-size: 20px;
}
.form-head{
	border-bottom: 2px solid lightgrey;
}
.g{
	-webkit-appearance:none;
}
.form-group #fare{
	background-color:#a3a375;
	color: #006622;
}
footer{
	background-color: lightgrey;
}
footer .icons{
	font-size: 30px;
}
footer nav a{
	color:#06603E;
}




